In [1]:
# Dependencies and Setup
import pandas as pd
import config

from sqlalchemy import create_engine
from sqlalchemy import inspect
import numpy as np

In [2]:
# Load Transformed csv into pd

file_path = "Resources/transformed.csv"
House_Rent_df = pd.read_csv(file_path)
House_Rent_df.head()

,bhk,rent,size,area_type,city,furnishing_status,tenant_preferred,bathroom,point_of_contact,posted_on,floor_level,suburb,id
0,2,10000,1100,Super Area,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner,May,Ground,Bandel,1
1,2,20000,800,Super Area,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,May,1,Kankurgachi,2
2,2,17000,1000,Super Area,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,May,1,Sector II,3
3,2,10000,800,Super Area,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner,July,1,Dum Dum Park,4
4,2,7000,600,Super Area,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner,April,Ground,Thakurpukur,5

In [3]:
#Connecting to RDS database using config for all personal data

rds_connection_string = f'{config.connection_string}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [4]:
# Inspecting table names
insp.get_table_names()

['rental_info']

In [5]:
#Import rental data frame into SQL
House_Rent_df.to_sql(name='rental_info', con=engine, if_exists='append', index=False)

In [6]:
#Checking if Rental data has been loaded into the database
pd.read_sql_query('select * from rental_info', con=engine).head()

,id,posted_on,bhk,rent,size,floor_level,area_type,suburb,city,furnishing_status,tenant_preferred,bathroom,point_of_contact
0,1,May,2,10000,1100,Ground,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2,May,2,20000,800,1,Super Area,Kankurgachi,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,3,May,2,17000,1000,1,Super Area,Sector II,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,4,July,2,10000,800,1,Super Area,Dum Dum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,5,April,2,7000,600,Ground,Super Area,Thakurpukur,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner